html {
	font-size:16px;
}
body {
    font-family: 'PingFangSC-Light','microsoft yahei', 'Helvetica', simhei, simsun, sans-serif;
    line-height: 1.42857143;
    color: #333333;
    background-color: #fff;
    padding-top:56px;
}
body[data-spm="0"]{
	background-color: #f2f2f2;
}
.text-center {
 	text-align: center !important;
}
button,input {
	outline: none;
	-webkit-appearance: none;
}
body,html,ol,li,ul,dt,dd,dl,i,p,blockquote,h1,h2,h3,h4,h5,h6,div{
	margin:0;
	padding:0;
}

html,body {
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
[v-cloak] {
	display: none;
} 
.text-right{
	text-align: right;
}
* {
	box-sizing: border-box;
}
button, input, optgroup, select, textarea {
	line-height: inherit;
}
ol,li,ul,dt,dd,dl,i,p,blockquote{
	list-style: none;
	margin:0;
	padding:0;
	font-style: normal;
	font-weight: normal;
}
input:focus {
    box-shadow: none;
    outline:none;
}
.cf::before,cf::after{
	content:'';
	display: block;
	height: 0;
	clear: both;
}
.f-12 {
	font-size: 12px;
}
a{
    border: 0;
    color:inherit;
    text-decoration: none;
}
.bg-blue {
	background:#27b3e7;
}
.fixed-top {
	position: fixed;
	top:0;
	left:0;
	width:100%;
	z-index: 100;
} 
.fixed-left {
	position: fixed;
	top:0;
	left:0;
	height:100%;
	z-index:10;
	overflow-y: scroll;
}
.fixed-left::scrollbar {
	background:transparent;
}
.fixed-left::-webkit-scrollbar {
	background:transparent;
}
.img-res-box {
	position: relative;
	display: block;
	width:100%;
	height:0%;
	padding-top:64.5%;
}
.img-res-box img {
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
}
.figure {
	margin:0;

}
.ellipsis {
	overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
    white-space: nowrap;
}
.align-items-center {
  	-webkit-box-align: center !important;
  	-webkit-align-items: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}
.justify-content-center {
  	-webkit-box-pack: center !important;
  	-webkit-justify-content: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}
.pagination {
  	display: inline-block;
  	padding-left: 0;
  	margin-top: 1rem;
  	margin-bottom: 1rem;
  	border-radius: .25rem;
}

.pagination > li {
  	display: inline;
}
.pagination > li > a,
.pagination > li > span {
  	position: relative;
  	float: left;
  	padding: 4px 10px;
  	margin-left: -1px;
  	line-height: 1.5;
  	color: #27b3e7;
  	text-decoration: none;
  	background-color: #fff;
  	border: 1px solid #ddd;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  	margin-left: 0;
  	border-top-left-radius: .25rem;
  	border-bottom-left-radius: .25rem;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  	border-top-right-radius: .25rem;
  	border-bottom-right-radius: .25rem;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  	color: #014c8c;
  	background-color: #eceeef;
  	border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  	z-index: 2;
  	color: #fff;
  	cursor: default;
  	background-color: #27b3e7;
  	border-color: #27b3e7;
}

.pagination > .disabled > span,
.pagination > .disabled > span:focus,
.pagination > .disabled > span:hover,
.pagination > .disabled > a,
.pagination > .disabled > a:focus,
.pagination > .disabled > a:hover {
  	color: #818a91;
  	cursor: not-allowed;
  	background-color: #fff;
  	border-color: #ddd;
}

.pagination-lg > li > a,
.pagination-lg > li > span {
  	padding: .75rem 1.5rem;
  	font-size: 1.25rem;
  	line-height: 1.333333;
}

.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  	border-top-left-radius: .3rem;
  	border-bottom-left-radius: .3rem;
}

.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  	border-top-right-radius: .3rem;
  	border-bottom-right-radius: .3rem;
}

.pagination-sm > li > a,
.pagination-sm > li > span {
  	padding: .275rem .75rem;
  	font-size: .85rem;
  	line-height: 1.5;
}

.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  	border-top-left-radius: .2rem;
  	border-bottom-left-radius: .2rem;
}

.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  	border-top-right-radius: .2rem;
  	border-bottom-right-radius: .2rem;
}
.nav-collapse {
	display: none;
}
.nav-brand,.nav-collapse{
	padding:1.0625rem 0;
	color:#fff;
}
.nav-brand svg {
	height:17px;
}
.nav-collapse:focus, .nav-collapse:hover {
	color:#fff;
}

.nav-brand .fa-bars,.nav-collapse .fa-bars {
	font-size:1.5rem;
}
.nav-brand {
	padding-left: 2.125rem;
}
.nav-collapse {
	padding-right: 2.125rem;
}
.nav .nav-item {
	padding:0.75rem 0;
	text-align: center;
}
.nav .nav-item:not(.m-search):hover {
	cursor:pointer;
	background-color: #68caee;
}
.nav .nav-item .nav-link {
	letter-spacing: 3px;
	padding:0.3125rem 2rem;
	display: block;
	color:#fff;
}
.nav .nav-item .nav-link:hover {
	text-decoration: none;
}
.nav-horizontal .nav-item {
	float:left;
}
.nav-item.active {
	background:#68caee;
}
.nav .search-input {
    padding:0.3125rem 0 0.3125rem 0.6rem;
    width: 8rem;
    border:none;
    color:#fff;
    border-radius: 1.0625rem;
    -webkit-border-radius: 1.0625rem;
    background: #3dbbe9;
    transition: width .5s;
    -webkit-transition: width .5s;
}
.sidebar-collpase {
	display: none;
}

.m-search {
	position: relative;
	margin-left:2rem;
	margin-right:2rem;
}
.m-search .search-btn {
	position: absolute;
	right:1.0625rem;
	top:1rem;
	color:#fff;
}
.m-search .fa {
	background:transparent;
	color:#fff;
	outline:none;
	border:none;
}
.m-search .fa:hover {
	cursor: pointer;
}
.search-input::-webkit-input-placeholder {
	color:rgba(255,255,255,0.7);
}
.search-input:focus {
	width:14rem;
}
.nav-sidebar {
	width:13rem;
	background:#fff;
	padding-left:2.375rem;
	padding-top:4rem;
	padding-bottom:5rem;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	transform:translate3d(0,0,0);
	-webkit-transform:translate3d(0,0,0);
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	box-sizing: border-box;
}
.m-classify {
	animation:reverseY 1s ease-in; 
	-webkit-animation:reverseY 1s ease-in; 
	-o-animation:reverseY 1s ease-in; 
	-moz-animation:reverseY 1s ease-in; 
}
@-webkit-keyframes reverseY {
	0% {transform: rotateY(90deg);-webkit-transform: rotateY(90deg);-moz-transform:rotateY(90deg);}
	100% {transform: rotateY(0deg);-webkit-transform: rotateY(0deg);-moz-transform:rotateY(0deg);}
}
@-o-keyframes reverseY {
	0% {transform: rotateY(90deg);-webkit-transform: rotateY(90deg);-moz-transform:rotateY(90deg);}
	100% {transform: rotateY(0deg);-webkit-transform: rotateY(0deg);-moz-transform:rotateY(0deg);}
}
@-moz-keyframes reverseY {
	0% {transform: rotateY(90deg);-webkit-transform: rotateY(90deg);-moz-transform:rotateY(90deg);}
	100% {transform: rotateY(0deg);-webkit-transform: rotateY(0deg);-moz-transform:rotateY(0deg);}
}
@keyframes reverseY {
	0% {transform: rotateY(90deg);-webkit-transform: rotateY(90deg);-moz-transform:rotateY(90deg);}
	100% {transform: rotateY(0deg);-webkit-transform: rotateY(0deg);-moz-transform:rotateY(0deg);}
}
.m-classify .nav {
	font-size:18px;
	line-height:2;
}
.m-classify dt {
	color:#000;
	margin-top:1.5rem;
}
.m-classify dd {
	color:#999;
}
.m-classify dd:hover {
	color:#27b3e7;

}
.m-classify dd:hover a {
	border-bottom:1px solid #27b3e7;
}
.m-classify .active {
	color:#27b3e7;
}
.sidebar-input {
	display: none;
}
.container {
	width:778px;
	margin:0 auto;
}
.g-content {
	float: left;
	padding-top: 60px;
	width:100%;
	min-height:880px;
}
.g-content .inner-wrap {
	margin-left: 14rem;
	margin-right: 14rem;
	position: relative;
}
.g-content .inner-wrap .mask-white {
	position: absolute;
	bottom:0;
	height:30px;
	background:#fff;
	width:100%;
}
.swiper-container {
	height:200px;
	width: 100%;
	margin-bottom: 1rem;
}
.red-slide {
	background:#4390EE;
}
.blue-slide {
	background:#CA4040;
}
.yellow-slide {
	background:#FF8604;
}
.swiper-pagination-bullet {
	background:#9ec0c9;
	width:12px;
	height:12px;
}
.swiper-pagination-bullet-active {
	background:#fff;
}
.article-lists li {
	position: relative;
	margin: 0 0 10px;
	border:1px solid #e6e6e6;
    border-right: none;
    border-left: none;
    word-wrap: break-word;
    background:#fff;
    padding-left:10px;
    padding-right:10px;
}
.article-lists li:hover {
	border-radius: 4px;
	box-shadow: 0px 0px 9px #ccc;
    transition: .2s;
}
.article-lists .content {
	padding-right:153px;
}
.article-lists .wrap-img {
	position: absolute;
	right:10px;
	top:10px;
	width:150px;
	height:113px;
}
.article-lists .wrap-img img {
	width:100%;
	height:100%;
}
.article-lists .title{
	font-size:1.5rem;
	line-height:1.2em;
	padding:0.625rem 0 1rem;
}
.article-lists .tag {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	margin-top:-2px;
	padding:0.2rem 0.4rem;
	border:1px solid #5e96db;
	border-radius: 0.3rem;
	-webkit-border-radius: 0.3rem;
	font-size:0.75rem;
	line-height: 1em;
	margin-left:1rem;
	color:#5e96db;
	font-weight: normal;
}
.article-lists .abstract {
	font-size:0.875rem;
	line-height:1.7em;
	padding-bottom:2.375rem;
	margin-bottom:0;
	color:#777;
	text-align: justify;
}
.article-lists .have-img .abstract {
	min-height:80px;
	display: block;
}
.article-lists .meta {
	font-size:0.75rem;
	margin-bottom:0.625rem;
	padding-top:5px;
}
.article-lists .meta a {
	margin-right: 0.625rem;
}
.meta a.read-icon {
	color:#5e96db;
}
.meta a.comment-icon {
	color:#b3c393;
}
.article-lists .meta time {
	float:right;
	color:#999;
}
.broadcast-wrap {
	float: left;
	margin-left: -13rem;
	width:13rem;
	padding-top: 60px;
	animation: returnZ 1s;
	overflow: hidden;
}
@-webkit-keyframes returnZ {
	0% {-webkit-transform: rotateX(90deg);}
	100% {-webkit-transform: rotateX(0deg);}
}
@keyframes returnZ {
	0% {transform: rotateX(90deg);-moz-transform: rotateX(90deg);-ms-transform: rotateX(90deg);-o-transform: rotateX(90deg);}
	100% {transform: rotateX(0deg);-moz-transform: rotateX(0deg);-ms-transform: rotateX(0deg);-o-transform: rotateX(0deg);}
}
.eyes {
	display: inline-block;
    animation: closeEyes 5s infinite 1s;
    -webkit-animation: closeEyes 5s infinite 1s;
}
@-webkit-keyframes closeEyes {
	0% {-webkit-transform: scale(1,1);}
	90% {-webkit-transform: scale(1,0.1);}
	100% {-webkit-transform: scale(1,1);}
}
@keyframes closeEyes {
	0% {transform: scale(1,1);-moz-transform: scale(1,1);-ms-transform: scale(1,1);-o-transform: scale(1,1);}
	90% {transform: scale(1,0.1);-moz-transform: scale(1,0.1);-ms-transform: scale(1,0.1);-o-transform: scale(1,0.1);}
	100% {transform: scale(1,1);-moz-transform: scale(1,1);-ms-transform: scale(1,1);-o-transform: scale(1,1);}
}
.broadcast-wrap .box {
	text-align: center;
	background:#27B3E7;
	padding:36px 0;
}
.broadcast-wrap .box svg {
	display: block;
	width:75%;
	margin:0 auto;
}
.m-load {
	padding:2rem 0;
}
.m-load .load-more {
	display: block;
	margin: 0 auto;
	width:6.8125rem;
	height: 2.0625rem;
	text-align: center;
	line-height: 2.062rem;
	border-radius:1.03125rem;
	-webkit-border-radius:1.03125rem;
	border:1px solid #27b3e7;
	color:#27b3e7;
	background-color: #fff;
	font-size: 0.875rem;
}
.m-load .load-more:hover {
	cursor: pointer;
}
.site-info-wrap {
	position: relative;
	z-index:20;
	height:5rem;
	background:#414362;
	padding:1rem 0;
	font-size: 0.875rem;
}
.friend-link {
	color:#fff;
	padding: 0 10px;
}
.m-article {
	padding-bottom: 10px;
}
.m-article .title{
	word-break: break-word;
    margin: 20px 0;
    font-family: -apple-system,SF UI Display,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
    font-size: 24px;
    color:#27B3E7;
    font-weight: 700;
    line-height: 1.3;
}
.m-article .abstract {
	padding: 15px;
	margin-left: 10px;
    margin-bottom: 20px;
    background-color: #f7f7f7;
    border-left: 4px solid #27b3e7;
    word-break: break-word;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5em;
}
.m-article .meta {
	font-size: 12px;
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #27B3E7;
}
.m-article .meta .fa {
	width:25px;
	height:25px;
	text-align: center;
	line-height: 25px;
	border-radius:50%;
	box-shadow: 0px 2px 9px #ccc;
	vertical-align: middle;
}
.m-article .meta .read-icon {
	margin-right: 5px;
}
.m-article .meta time {
	color:#000;
	float: right;
}
.m-article .ql-container.ql-snow {
	font-size:14px;
	text-align: justify;
	padding-bottom: 20px;
	border-bottom: 1px solid #ececec;
}
.circle {
	width:20px;
	height:20px;
	border:4px solid #27b3e7;
	border-radius: 20px;
	background:#fff;
}
.u-message  {
	width:50%;
}
.u-message textarea,.m-comments input {
	padding: 10px 15px;
    width: 100%;
    font-size: 13px;
    border: 1px solid #27b3e7;
    border-radius: 4px;
    background-color: hsla(0,0%,71%,.1);
    resize: none;
    display: inline-block;
    vertical-align: top;
    outline-style: none;
    margin-top:20px;
}
.u-message textarea {
	 height: 80px;
}
.u-message .btn-group {
	text-align: right;
}
.u-message .btn-group .btn {
	-webkit-appearance: none;
	display: inline-block;
	cursor: pointer;
    outline: none;
    margin: 10px 0;
    width:80px;
    height:40px;
    line-height: 40px;
    font-size: 16px;
    border: none;
    text-align: center;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 0;
    
}
.u-message .btn-group .cancel {
	color:#969696;
	background:hsla(0,0%,71%,.1);
}
.u-message .btn-group .send{
	color: #fff;
    background-color: #27b3e7;
}
.m-comments {
	position: relative;
	padding-top: 20px;
	border-left: 2px solid #27b3e7;
	padding-left:10px;
}
.m-comments .flag {
	position: absolute;
	left:0;
	top:1px;
	width:10px;
	height:10px;
	border-width:10px;
	border-style: solid;
	border-color:transparent transparent #27b3e7 #27b3e7;
}
.m-comments .flag-base {
	position: absolute;
	left:-13px;
	bottom:0;
	width:12px;
	height:12px;
	border-width:12px;
	border-style: solid;
	border-color:transparent transparent  #27b3e7 transparent;
}
.m-comments .board-label {
	display: inline-block;
	font-size:18px;
	padding:8px 28px;
	text-align: center;
	color: #27b3e7;
	border:1px solid #27b3e7;
	border-radius:50px;
	-webkit-border-radius:50px;
}
.m-comments .comments-lists {
	text-align: justify;
	padding-right: 10px;
	padding-left: 20px;
}
.m-comments .comment {
	position: relative;
	padding:10px;
	border:1px solid #27b3e7;
	margin-bottom: 10px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
}
.m-comments .comment .circle {
	position: absolute;
	left:-42px;
	top:0;
	bottom:0;
	margin-top: auto;
	margin-bottom: auto;
}

.m-comments .comment .user-info {
	color:#969696;
	font-size: 15px;
}
.m-comments  .comment .content {
	margin-top:15px;
}
.m-comments .count {
	font-size: 17px;
    font-weight: 700;
    margin-bottom: 20px;
}
.leadship {
	padding:28px 0 9px 20px;
	color:#88866F;
	font-size: 14px; 
	background: rgba(39,179,231,0.1);
}
.leadship p {
	margin-bottom: 19px;
}
.blue-circle {
	width:30px;
	height:30px;
	border-radius: 50%;
	background:rgba(39,179,231,0.4);
	display: inline-block;
	vertical-align: middle;
	margin-right: 14px;
}
.home-back-box {
	position: fixed;
	font-size:24px;
	width:46px;
	height:46px;
	color:#27b3e7;
	border-radius:23px;
	line-height: 46px;
	text-align: center;
	/*border:1px solid #27b3e7;*/
	box-shadow:0 0 10px 2px rgba(39, 179, 231,0.2);
	right:10px;
	bottom:10px;
	z-index:100;

}
.site-logo {
	position: relative;
	overflow-y:hidden;
}
.site-logo::before {
	content:"";
	position: absolute;
	left:-20px;
	top:0;
	height:10px;
	width: 80px;
	opacity: 0.4;
	transform: rotate(-45deg);
	background:#27b3e7;

	animation: searchLights 1s ease-in 1s infinite;
}
@-webkit-keyframes searchLights {
	0% {left:-20px;top:0;}
	100% {left:80px;top:80px;}
}
@-o-keyframes searchLights {
	0% {left:-20px;top:0;}
	100% {left:80px;top:80px;}
}
@-moz-keyframes searchLights {
	0% {left:-20px;top:0;}
	100% {left:80px;top:80px;}
}
@keyframes searchLights {
	0% {left:20px;top:-40px;}
	100% {left:80px;top:80px;}
}
@media screen and (max-width: 75em){
	.broadcast-wrap {
		display: none;
	}
	.g-content .inner-wrap {
		margin-right: 2rem;
	}
}
@media screen and (max-width: 48.625em){
	.u-message .btn-group {
		text-align: left;
	}
	.nav-brand, .nav-collapse {
		padding:0.5rem 1.8rem;
	}
	.m-article .ql-container.ql-snow pre {
		font-size: 12px;
	}
	.article-lists .have-img .abstract {
		min-height: auto;
	}
	.article-lists .abstract {
		padding-bottom:0px;
	}
	.g-content {
		margin-left:0;
		min-height:auto;
		padding:43px 15px 0;
	}
	body[data-spm="0"] .g-content{
		padding:0;
	}
	.container {
		padding-right: 5px !important;
    	padding-left: 5px !important;
	}
	.u-message {
		width:100%;
	}
	.g-content .inner-wrap {
		margin-right: 0;
		margin-left: 0;
	}
	.site-info-wrap {
		display: none;
	}
	.article-lists .wrap-img {
		display: none;
	}
	.article-lists .content {
		padding-right: 0;
	}
	.friend-link {
		padding: 0 10px;
	}
/*	.article-box {
		padding:0 10px;
	}*/
	.container{
		width:100%;
		padding-top: 0rem;

	}
	.nav-brand {
		display: none;
	}
	.sidebar-collpase {
		display: block;
	}
	.tri-box {
		position: relative;
	}
	.tri-box .line-group i {
		position: absolute;
		left:0;
		height:1.5rem;
		border-left:2px solid #fff;
	}
	.m-article .abstract {
		margin-left: 0;
		border-left: 4px solid #27b3e7;
		padding:10px;
	}
	.tri-box .line-group i:nth-child(1) {
		transform-origin: 1px 0;
		-webkit-transform-origin: 1px 0;
		transform: rotate(300deg);
		-webkit-transform: rotate(300deg);
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
	}
	.tri-box .line-group i:nth-child(3) {
		transform-origin: 1px 100%;
		-webkit-transform-origin: 1px 100%;
		transform: rotate(-300deg);
		-webkit-transform: rotate(-300deg);
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
	}
	.sidebar-input:not(:checked) + .tri-box .line-group i:nth-child(1) {
		transform: rotate(60deg);
		-webkit-transform: rotate(60deg);
	}
	.sidebar-input:not(:checked) + .tri-box .line-group i:nth-child(3){
		transform: rotate(-60deg);
		-webkit-transform: rotate(-60deg);
	}
	.nav-horizontal .nav-item,.nav-horizontal.pull-left {
		float: none;
	}
	.nav-horizontal {
		display: none;
	}
	.nav .search-input {
		width:100%;
	} 
	.nav-bar .container {
		padding-left:0;
		padding-right: 0;
		margin-top:2.7rem;
	}
	.nav-collapse {
		display: block;
	}
	.nav-sidebar {
		transform:translate3d(-13.3125rem,0,0);
		-webkit-transform:translate3d(-13.3125rem,0,0);
	}
	.label-group .checkbox-label {
		position: absolute;
		left:-2rem;
		top:-1.3rem;
		width:4rem;
		height:4rem;
	}
	.sidebar-input:not(:checked) + .tri-box .checkbox-label:nth-child(2){
		display: none;
	}
	.sidebar-input:checked + .nav-sidebar {
		transform:translate3d(0,0,0);
		-webkit-transform:translate3d(0,0,0);
	}
	#nav-mask__left {
		position: fixed;
		left:0;
		top:0;
		width:100%;
		height:100%;
		display: none;
		z-index:9;
	}
	.sidebar-input:checked + .nav-sidebar + #nav-mask__left {
		display: block;
	}
	.m-load {
		padding-top:0;
		padding-bottom:0.8rem;
	}
	/*.ql-snow .ql-editor pre.ql-syntax {
		display: inline-block;
		min-width: 100%;
	}*/
	.ql-editor::-webkit-scrollbar {
		background:transparent;
		height:0;
	}
	.ql-editor ol, .ql-editor ul {
		padding-left:0.5em;
	}
	.ql-editor li::before {
		width:0.6em;
    	margin-right: 1em;
	}
}
.ql-container.ql-snow {
	border:none;
}
.ql-editor {
	padding:0;
}

.m-quill {
	width:100%;
	overflow:hidden;
}
.m-quill .ql-container.ql-snow {
	width:100%;
	overflow-x: scroll;
}
.m-quill .ql-editor {
	min-width:600px;
}
/*友言广告处理*/
#uyan-copyright {
	display: none;
}
.uyan-mask-white {
	position: absolute;
    bottom: 0;
    height: 30px;
    background: #fff;
    width: 100%;
}
/*插件*/
.p  .col {
    background: #fafafa;
    margin-top: 10px;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    overflow: hidden;
    padding:0;
}
.p  .wrap {
	padding:15px;
	border-top: 1px solid #e8e8e8; 
}
.p .uyan-mask-white {
	background: #fafafa;
}
.p .p-header {
	border-bottom: 1px solid #e8e8e8;
    border-radius: 3px 3px 0 0;
    height: auto;
    margin: auto;
    padding: 20px 25px 10px;
   	font-size: 14px;
}
.p .p-header h1{
    font-size: 28px;
    color: #262626;
    margin-bottom: 10px;
}
.p .p-header p {
	color: dimgray;
	margin-bottom: 10px;
}
.p .p-header span {
    display: inline-block;
    height: 20px;
    line-height: 20px;   
}
.p .content {
	padding:15px;
}










