<% if(isMobile){ %>
<a href="/" class="home-back-box">
	<i class="fa fa-home"></i>
</a>
<% } %>
<footer class="site-info-wrap">
    <div class="container">
        <div class="friend-link">
            <p>友情链接：
                <a href="http://www.nineui.com/" rel="nofollow" target="_blank">NINEUI设计</a>
                <a href="http://yuez.me" rel="nofollow" target="_blank">乐正博客</a>
            	<a href="http://www.cnblogs.com/dupd/" rel="nofollow" target="_blank">博客园</a>
                <a href="https://juejin.im/timeline" rel="nofollow" target="_blank">掘金</a>
                <a href="http://www.jianshu.com/search?q=%E5%89%8D%E7%AB%AF&page=1&type=collection" rel="nofollow" target="_blank">简书</a>
            </p>
       		<p class="text-right f-12"><a target="_blank" href="http://www.miitbeian.gov.cn/" rel="nofollow">京ICP备17017454号</a></p>
        </div>
    </div>
    <script>
        (function(){
            $("#g-content").css("min-height",$(window).height()-$(".site-info-wrap").outerHeight());
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
            }
            else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
    </script>
</footer>