<% if(isMobile){ %>
<a href="/" class="home-back-box">
	<i class="fa fa-home"></i>
</a>
<% } %>
<footer class="site-info-wrap">
    <div class="container">
        <div class="friend-link">
            <p>友情链接：
            	<a href="javascript:void(0)" rel="nofollow" target="_blank">新浪</a> 
            	<a href="javascript:void(0)" rel="nofollow" target="_blank">博客园</a>
            </p>
       		<p class="text-right f-12"><a target="_blank" href="http://www.miitbeian.gov.cn/" rel="nofollow">京ICP备17017454号</a></p>
        </div>

    </div>
</footer>